
@{
    ViewBag.Title = "New";
}

<!DOCTYPE html>

<html>
<form method="post" action="/Subject/New">
    <label>Nume subiect</label>
    <br />
    <input type="text" name="Title" />
    <input type="text" name="Description" />

    <br />
    <!--<br />
    <label>data TODO get date sau ceva</label>
    <br />
    <input type="text" name="CreationDate" />
    <br />
    <br />
    <label>User</label>
    <br />
    <input type="text" name="UserId" />
    <br /> -->
    <button type="submit">Adauga subiect</button>
</form>
</html>
