
@{
    ViewBag.Title = "Adauga subiect";
}

<!DOCTYPE html>

<form method="post" action="/Category/AddSubject">
    <input type="hidden" name="CategoryId" value="@ViewBag.CategoryId" />
    <br />
    <label>Titlu subiect:</label>
    <br />
    <input type ="text" name="Title" />
    <br />
    <label>Descriere subiect:</label>
    <br />
    <input type ="text" name="Description" />
    <button type="submit">Adauga subiect</button>
</form>
