
<h1>Edit Category</h1>


@using (Html.BeginForm(actionName: "Edit", controllerName: "Category"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.Label("Name", "Category Name")
    @Html.ValidationMessage("Name", new { @class = "text-danger" })
    <br />
    @Html.Editor("Name")
    <br />
    <br />
    <button type="submit">Edit Categoriy</button>
}