
    <h2 class="page-header">📦 Categorii</h2>
@foreach (var category in ViewBag.Categories)
{
<div class="panel panel-default">

    <div class="panel-heading article-heading">
        <a href="/Category/Show/@category.Id" class="article-title">@category.Name</a>
    </div>
    <div class="article-meta">
        <span class="">
            <i class="glyphicon glyphicon-time"></i>
            Creat pe: @category.DateCreated
        </span>
    </div>
    @if (ViewBag.isAdmin)
    {
        <div class="panel-body">
            <div class="btn-group" role="group" aria-label="Basic example">

                <form method="post" action="/Category/Delete/@category.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <a class="btn btn-success" href="/Category/Edit/@category.Id"><i class="glyphicon-edit glyphicon"></i> Edit</a>

                    <button class="btn btn-danger" type="submit"><i class="glyphicon-trash glyphicon"></i> Delete</button>
                </form>
            </div>
            </div>

    }
</div>

          

            }

            @if (ViewBag.isAdmin)
            {
                <a class="btn btn-primary btn-block" href="/Category/New"><i class="glyphicon-plus glyphicon"></i> Adauga o categorie noua</a>
            }
