

<h1>Add new Category</h1>

<form method="post" action="/Category/New">
    @Html.Label("Name", "Category Name")
    <br />
    @Html.ValidationMessage("Name", new {@class = "text-danger "})
    @Html.TextBox("Name", null, new { @class = "form-control" })
    <br />
    @Html.Hidden("DateCreated", DateTime.UtcNow)
    <br />
    <button type="submit">Add new Category</button>
</form>